body{

	overflow:hidden;
}
#header,#navgation{

background-color:#2e343d;
color:white;

}
.navbar-default .navbar-nav > li > a,.navbar-brand{
background-color:#2e343d;
color:white;

}
.navbar-default .navbar-nav > li > a:hover
{
background-color:white;
color:black;

}
#about{
	background-color: grey;
}
#about p {
	 background-color: grey;
    color: white;
    font-size: 2em;
    height: 20em;
    padding-bottom: 36px;
    padding-left: 150px;
    padding-right: 36px;
    padding-top: 36px;
}
#about img{
height:200px;
	margin-top:50px;
	border-radius:100px;
	margin-left:70px;
}
